@charset "UTF-8";
body{font-size:12px;line-height:1.5;font-family:'돋움',dotum,Apple SD Gothic Neo,sans-serif;color:#000}
a{text-decoration:none;color:#000}
body,ul,li{margin:0;padding:0}
ul{list-style:none}
em{font-style:normal}
.screen_out{display:block;overflow:hidden;position:absolute;left:-9999px;width:1px;height:1px;font-size:0;line-height:0;text-indent:-9999px}
.ico_comm{background:url(../images/bg.png) no-repeat}
.list_highlight{overflow:hidden;width:648px;padding:20px}
.list_highlight li{overflow:hidden;float:left;width:324px;margin-bottom:20px;padding-bottom:20px;border-bottom:1px solid lightgray}
.list_highlight .link_thumb{display:block;float:left;position:relative;width:118px;height:88px}
.list_highlight .frame_g{width:116px;height:86px}
.list_highlight .ico_play{display:block;overflow:hidden;position:absolute;bottom:6px;left:7px;width:13px;height:16px;font-size:0;line-height:0;background-position:0 0;text-indent:-9999px}
.list_highlight .wrap_cont{overflow:hidden;width:175px;height:88px;padding:0 10px}
.list_highlight .txt_sub{display:block;overflow:hidden;color:red;white-space:nowrap;font-weight:normal;line-height:19px}
.list_highlight .tit_g{display:block;overflow:hidden;margin-bottom:8px}
.list_highlight .link_tit{display:block;font-size:14px;line-height:20px;letter-spacing:-1px}
.list_highlight .cmt_stats{display:block;padding-left:14px;font-size:11px;line-height:14px;font-family:tahoma,sans-serif;background-position:-20px 2px;color:gray}
